/*---------------------------------Presentación de la pagina---------------------------------------------------------*/

.section1 {
    background-image: url(http://ichef.bbci.co.uk/wwfeatures/1600_900/images/live/p0/3k/rz/p03krzlp.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position-x: center;
    min-height: 900px;
    font-size: 150%;
    color: #54595F;  
}

.social i{   
    color: #484646;
}
.social a:visited{
    color: #878788; 
}

#mainMenu{
    margin-left: auto;
    margin-right: 100px;
    margin-top: 50px;
    width: 25%;
}

.menu{
    color: #878788;
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    background: none;
    border: none;
    text-decoration: none;
    background-image: linear-gradient(currentColor, black);
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-size: 0% 1px;
    transition: background-size .5s;
}

.menu:hover{
    cursor: pointer;
    background-size: 110% 1px;
}

.section1:last-child {    
    position: relative; top: 200px;
    text-align: center;
    letter-spacing: 5px; 
}

/*------------------------------------ Estilo de vida del Fotografo --------------------------------------------*/

.section2 {
    margin-top: 7px;
    background-image: url(https://naturfotografen-forum.de/data/o/275/1375489/image::Helge_Schulz_woelfe_in_deutschland.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    height: fit-content;
    color: hsl(208, 100%, 97%);  
    padding-left: 25%;
    padding-right: 25%;
    padding-top: 7%;
    padding-bottom: 7%;
    font-size: 150%;
}
.section2 p:last-of-type{
    font-size: 50%;
}

/*----------------------------------------- Proyectos -------------------------------------------------*/

.section3 {
    margin-top: 7px;
    font-size: 25pt; 
    background-color: rgb(229, 227, 224);
    
}

#section4 {
    color: #878788;
    font-size: 14px;
    padding-left: 15%;
    padding-right: 15%;
}

#section4 img{
    border: 1px solid #878788; 
    width: 80%;
    height: 55%; 
}

#section4 p{
    text-align: left;
    font-size: 20px;
}

.lineaTable {
    margin-top: 30px;
    border-left: 1px solid black;
    height: 550px;
}

#section4 button{
    background-color: transparent;
    border-color: #54595F;
    border-width: 1px;
    color: #54595F;
    padding: 15px 25px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
}

#section4 button:hover{
    background-color: #54595fbb;
    border-color: #54595F;
    color: #ddd;
    cursor: pointer;
}

#section4 td:nth-of-type(3){
    width: 50%;
    padding: 5%;
    margin-left: auto;
    margin-right: auto;
    animation-name: arrive;
    position: relative;
    animation-fill-mode: forwards;
    animation-duration: 2s;
}

#reno{
    animation-delay: 0.5s;
}

/* Entrada de la descripción de los proyectos ocurre al cargar la pagina,
    me faltaría conseguir que fuera cuando aparece en pantalla haciendo sroll*/
    @keyframes arrive{
        from {left: 100%; }
        to {left: 0%; }
    }


/*--------------------------------------------Tabla de Galerias de Fotos------------------------------------------*/

.section5 {
    margin-top: 7px;
    background-image: url(https://10wallpaper.com/wallpaper/1366x768/1901/Antarctic_Continental_Glacier_Polar_Night_Ocean_1366x768.jpg);    
    background-repeat: no-repeat;
    background-size: cover;
    color: hsl(208, 100%, 97%);
}

.section5 th{   
    padding-top: 10%;
    padding-bottom: 10%;
    font-size: 100%;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(41, 41, 41, 0.4);
}

.section5 th:hover{
    background-color: #dddddd27;
}
.section5 th img:nth-of-type(1){
    width: 15%;
    height: 15%;
}
.section5 th img:nth-of-type(2){
    width: 60%;
    height:65%
}

.section5 th p:nth-child(3){
    font-size: 150%;
}
.section5 button{
    background-color: transparent;
    border-color: #ddd;
    border-width: 1px;
    color: #ddd;
    padding: 15px 30px;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    margin-top: 50px;
}
   
.section5 button:focus{
    outline: none;
    border: none;
}

.section5 button:hover{
    background-color: #ddd;
    border-color: #54595F;
    color: #54595fbb;
}

/*---------------------------------------Formulario Final-------------------------------------------------*/
.section6 {
    margin-top: 5px;
    background-image: url(https://blog.lacie.com/wp-content/uploads/sites/8/2020/03/Hilmer_060414_12887.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 900px;
    color: #878788;
    padding-top: 10%;
    padding-bottom: 10%;  
}

form input{
    width:40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 5px;
    padding: 12px 20px;
    color:hwb(30 42% 57%);
    background-color: none;
    box-sizing: border-box;
}

input[type="button"] {
    background-color: transparent;
    color:white;  
    border: none; 
    background-color: #54595f19;
    cursor: pointer;
}

label{
   /* position: relative; left: 38%;*/
}

p:last-of-type{
    font-size: 12px;
}

/*--------------------------------------------Elementos comunes-----------------------------------------------*/

/*Por defecto las imagenes estaran centradas*/
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*Fuente y tamaños por defecto. Texto centrado*/
p {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    line-height: 150%;
}

/*Lineas separadoras*/
.linea {
    border-top: 1px solid black;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: 20px auto 0 auto;
}

.linea-puntos {
    border-bottom:1px dotted;
    height: 2px;
    max-width: 200px;
    padding: 0;
    margin: auto auto 0 auto;
}

